<!-- Import header -->
<%- include('headerUser.ejs') %>

<!-- Container chính -->
<div class="container" style="margin-top: 50px; margin-bottom: 150px">
    <div class="row">
        <div class="col-lg-3">
            <div class="link_order">
                <div class="user_order">
                    <p>
                        <%= user.ho_ten %>
                    </p>
                </div>
                <ul class="">
                    <li class=""><a class="item_ font-weight" href="/tai_khoan"><i class="fa-solid fa-person"></i> <span class="mx-2">Tài khoản của tôi</span></a></li>
                    <li class=" mt-3"><a class="item_ font-weight" href="/order"><i class="fa-solid fa-gift"></i><span class="mx-2">Đơn mua hàng</span> </a></li>
                    <li class=" mt-3"><a class="item_ font-weight" href="/bao_hanh"><i class="fa-solid fa-wrench"></i><span class="mx-2">Đơn bảo hành</span> </a></li>
                    <li class=" mt-3 pb-3"><a class="item_ font-weight" href="/lich_su_mua_hang"><i class="fa-solid fa-clock-rotate-left"></i><span class="mx-2">Lịch sử mua hàng</span> </a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link font-weight active" href="#cho_xac_nhan" data-toggle="tab">Chờ xác nhận</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight" href="#da_xac_nhan" data-toggle="tab">Đã xác nhận</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight" href="#dang_giao" data-toggle="tab">Thực hiện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight" href="#da_giao" data-toggle="tab">Đã hoàn thành</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight" href="#da_huy" data-toggle="tab">Đã hủy</a>
                </li>
            </ul>

            <div class="tab-content mt-1">
                <!-- Tab chờ xác nhận -->
                <div class="tab-pane active link_order" id="cho_xac_nhan">
                    <div class="">
                        <% if (data.length > 0) {
                            var hasActiveOrder = false;
                            data.forEach(function(data_item, index) {
                            if (data_item.trang_thai === 1) {
                            hasActiveOrder = true;
                        %>
                        <div class="row">
                            <div class="">
                                <p class="user_order text-start">ĐƠN BẢO HÀNH: <%= data_item.id %></p>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <img style="width: 150px; height: 100px;" class="img-thumbnail" src="/imgUpload/<%= data_item.hinh_anh_chi_tiet %>">
                                </div>
                                <div class="col-lg-4">
                                    <p>Thông tin sản phẩm</p>
                                    <p><%= data_item.ten_san_pham %> - <%= data_item.ten_mau_sac %> - <%= data_item.ten_dung_luong %></p>
                                </div>
                                <div class="col-lg-5">
                                    <p>Lí do bảo hành</p>
                                    <p><%= data_item.ghi_chu %></p>
                                </div>
                            </div>

                            <div class="text-end">
                                <a href="#" onclick="confirmCancelOrder(`<%= data_item.id %>`)" class="btn btn-outline-danger mx-2 mb-3">Hủy đơn hàng</a>
                            </div>
                        </div>
                        <% } }); if (!hasActiveOrder) { %>
                            <p>Không có dữ liệu</p>
                        <% } } else { %>
                            <p>Không có dữ liệu</p>
                        <% } %>
                    </div>
                </div>

                <!-- Tab đã xác nhận -->
                <div class="tab-pane" id="da_xac_nhan">
                    <% if (data.length > 0) {
                        var hasActiveOrder = false;
                        data.forEach(function(data_item, index) {
                        if (data_item.trang_thai === 2) {
                        hasActiveOrder = true;
                    %>
                    <div class="row">
                        <div class="">
                            <p class="user_order text-start">ĐƠN BẢO HÀNH: <%= data_item.id %></p>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <img style="width: 150px; height: 100px;" class="img-thumbnail" src="/imgUpload/<%= data_item.hinh_anh_chi_tiet %>">
                            </div>
                            <div class="col-lg-4">
                                <p>Thông tin sản phẩm</p>
                                <p><%= data_item.ten_san_pham %> - <%= data_item.ten_mau_sac %> - <%= data_item.ten_dung_luong %></p>
                            </div>
                            <div class="col-lg-5">
                                <p>Lí do bảo hành</p>
                                <p><%= data_item.ghi_chu %></p>
                            </div>
                        </div>
                    </div>
                    <% } }); if (!hasActiveOrder) { %>
                        <p>Không có dữ liệu</p>
                    <% } } else { %>
                        <p>Không có dữ liệu</p>
                    <% } %>
                </div>

                <!-- Tab thực hiện -->
                <div class="tab-pane" id="dang_giao">
                    <% if (data.length > 0) {
                        var hasActiveOrder = false;
                        data.forEach(function(data_item, index) {
                        if (data_item.trang_thai === 3) {
                        hasActiveOrder = true;
                    %>
                    <div class="row">
                        <div class="">
                            <p class="user_order text-start">ĐƠN BẢO HÀNH: <%= data_item.id %></p>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <img style="width: 150px; height: 100px;" class="img-thumbnail" src="/imgUpload/<%= data_item.hinh_anh_chi_tiet %>">
                            </div>
                            <div class="col-lg-4">
                                <p>Thông tin sản phẩm</p>
                                <p><%= data_item.ten_san_pham %> - <%= data_item.ten_mau_sac %> - <%= data_item.ten_dung_luong %></p>
                            </div>
                            <div class="col-lg-5">
                                <p>Lí do bảo hành</p>
                                <p><%= data_item.ghi_chu %></p>
                            </div>
                        </div>
                    </div>
                    <% } }); if (!hasActiveOrder) { %>
                        <p>Không có dữ liệu</p>
                    <% } } else { %>
                        <p>Không có dữ liệu</p>
                    <% } %>
                </div>

                <!-- Tab đã hoàn thành -->
                <div class="tab-pane" id="da_giao">
                    <% if (data.length > 0) {
                        var hasActiveOrder = false;
                        data.forEach(function(data_item, index) {
                        if (data_item.trang_thai === 4) {
                        hasActiveOrder = true;
                    %>
                    <div class="row">
                        <div class="">
                            <p class="user_order text-start">ĐƠN BẢO HÀNH: <%= data_item.id %></p>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <img style="width: 150px; height: 100px;" class="img-thumbnail" src="/imgUpload/<%= data_item.hinh_anh_chi_tiet %>">
                            </div>
                            <div class="col-lg-4">
                                <p>Thông tin sản phẩm</p>
                                <p><%= data_item.ten_san_pham %> - <%= data_item.ten_mau_sac %> - <%= data_item.ten_dung_luong %></p>
                            </div>
                            <div class="col-lg-5">
                                <p>Lí do bảo hành</p>
                                <p><%= data_item.ghi_chu %></p>
                            </div>
                        </div>
                    </div>
                    <% } }); if (!hasActiveOrder) { %>
                        <p>Không có dữ liệu</p>
                    <% } } else { %>
                        <p>Không có dữ liệu</p>
                    <% } %>
                </div>

                <!-- Tab đã hủy -->
                <div class="tab-pane" id="da_huy">
                    <% if (data.length > 0) {
                        var hasActiveOrder = false;
                        data.forEach(function(data_item, index) {
                        if (data_item.trang_thai === 5) {
                        hasActiveOrder = true;
                    %>
                    <div class="row">
                        <div class="">
                            <p class="user_order text-start">ĐƠN BẢO HÀNH: <%= data_item.id %></p>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <img style="width: 150px; height: 100px;" class="img-thumbnail" src="/imgUpload/<%= data_item.hinh_anh_chi_tiet %>">
                            </div>
                            <div class="col-lg-4">
                                <p>Thông tin sản phẩm</p>
                                <p><%= data_item.ten_san_pham %> - <%= data_item.ten_mau_sac %> - <%= data_item.ten_dung_luong %></p>
                            </div>
                            <div class="col-lg-5">
                                <p>Lí do bảo hành</p>
                                <p><%= data_item.ghi_chu %></p>
                            </div>
                        </div>
                    </div>
                    <% } }); if (!hasActiveOrder) { %>
                        <p>Không có dữ liệu</p>
                    <% } } else { %>
                        <p>Không có dữ liệu</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script để xác nhận hủy đơn bảo hành -->
<script>
    function confirmCancelOrder(orderId) {
        if (confirm("Bạn có chắc chắn muốn hủy đơn bảo hành này không?")) {
            // Nếu người dùng đồng ý, gửi yêu cầu hủy đơn hàng đến máy chủ
            window.location.href = "/baohanh_huy/" + orderId;
        } else {
            // Nếu người dùng không đồng ý, không thực hiện hành động nào
            return false;
        }
    }
</script>

<!-- Script để đánh dấu link hiện tại -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname;

        const links = document.querySelectorAll(".item_");
        links.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active_order");
            }
        });
    });
</script>

<!-- Import jQuery và Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Import footer -->
<%- include('footerUser.ejs') %>