<%- include('../header.ejs') %>
    <%- include('../aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <h2 class="text-center font-weight"> Đơn nhập kho</h2>
            <div class="text-end ">
                <a href="/admin/xuatHoaDonPDF_nhapkho/<%=phieu_nhap_kho.id_phieu_nhap_kho%>"
                    class="btn btn-outline-success mx-5">Xuất
                    hóa
                    đơn</a>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <p><span class="font-weight">Tên nhà cung cấp:</span>
                        <%= phieu_nhap_kho.ten_nha_cung_cap %>
                    </p>
                    <p><span class="font-weight">Số điện thoại:</span>
                        <%= phieu_nhap_kho.so_dien_thoai %>
                    </p>
                </div>
                <div class="col-md-6">
                    <p><span class="font-weight">Địa chỉ:</span>
                        <%= phieu_nhap_kho.dia_chi %>
                    </p>
                    <p><span class="font-weight">Email:</span>
                        <%= phieu_nhap_kho.email %>
                    </p>
                </div>
            </div>

            <table style="margin-top: 50px;" class="table table-PW table-hover table-borderless align-middle">
                <thead class="table-light">
                    <caption>Danh sách sản phẩm</caption>
                    <tr style="background-color: #d2d2d2;">
                        <th>Tên sản phẩm</th>
                        <th>Màu sắc</th>
                        <th>Dung lượng</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Tong tien</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% if (chi_tiet_nhap_kho && chi_tiet_nhap_kho.length> 0) { %>
                        <% chi_tiet_nhap_kho.forEach(function (hoadon, index) { %>
                            <tr>
                                <td>
                                    <%= hoadon.ten_san_pham %>
                                </td>
                                <td>
                                    <%= hoadon.ten_mau_sac %>
                                </td>
                                <td>
                                    <%= hoadon.ten_dung_luong %>
                                </td>
                                <td>
                                    <%= hoadon.so_luong %>
                                </td>
                                <td>
                                    <%= hoadon.gia.toLocaleString('vi-VN') %> VND
                                </td>
                                <td>
                                    <%= (hoadon.so_luong * hoadon.gia).toLocaleString('vi-VN') %>VND
                                </td>

                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7">Không có dữ liệu</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>

            <div class="row mt-5">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <p class="font-weight">Tổng tiền thanh toán: <%= phieu_nhap_kho.tong_tien.toLocaleString('vi-VN') %> VND</p>
                </div>
            </div>

        </div>


        <!-- /.content-wrapper -->
        <%- include('../footer.ejs') %>