<%- include('../header.ejs') %>
    <%- include('../aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="row">
                <!-- Button trigger modal -->
                <div class="col-md-6">
                    <a href="/admin/nhap_kho" class="btn btn-outline-primary mt-2 mx-2">
                        Thêm phiếu nhập kho
                    </a>
                </div>
                <div class="col-md-6 mt-2 ">
                    <form action="" id="combined-form" method="get" class="sidebar-form_1 mx-2">
                        <div class="input-group mb-3" style="width: 80%;">
                            <input type="text" name="name" class="form-control" placeholder="Nhập tên bạn muốn tìm kiếm"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <table style="margin-top: 50px;" class="table table-PW table-hover table-borderless align-middle">
                <thead class="table-light">
                    <caption>Danh sách phiếu nhập kho</caption>
                    <tr style="background-color: #e9e9e9;">
                        <th>STT</th>
                        <th>Tên nhân viên tạo</th>
                        <th>Tổng tiền</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% if (phieunhapkho && phieunhapkho.length> 0) { %>
                        <% phieunhapkho.forEach(function (phieunhapkho, index) { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= phieunhapkho.ten_nhan_vien_tao %>
                                </td>
                                <td>
                                    <%= phieunhapkho.tong_tien.toLocaleString('vi-VN') %> VND
                                </td>
                                <td>
                                    <%= new Intl.DateTimeFormat('vi-VN').format(new Date(phieunhapkho.ngay_tao)) %>
                                </td>
                                <td>
                                    <% if (phieunhapkho.trang_thai===1) { %>
                                        <button class="btn btn-outline-secondary btn-sm"> Chờ thanh toán </button>
                                        <% } else if (phieunhapkho.trang_thai===2) { %>
                                            <button class="btn btn-outline-primary btn-sm">Đã hoàn thành </button>
                                            <% } else if (phieunhapkho.trang_thai===3) { %>
                                                <button class="btn btn-outline-warning btn-sm">Hủy</button>
                                                <% } %>

                                </td>
                                <td>
                                    <div class="d-flex ">
                                        <!-- <a href="#" class="btn btn-outline-success btn-sm mx-1"><i
                                                class="fa-solid fa-pen-to-square"></i></a> -->
                                        <a href="#" onclick="confirmDelete(`<%= phieunhapkho.id %>`)"
                                            class="btn btn-outline-danger btn-sm mx-1"><i
                                                class="fa-solid fa-trash"></i></a>
                                        <a href="/admin/chi_tiet_nhap_kho/<%= phieunhapkho.id %>"
                                            class="btn btn-outline-info btn-sm mx-1"><i class="fa-solid fa-eye"></i></a>
                                    </div>

                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7">Không có dữ liệu</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>

        <script>
            function confirmDelete(id) {
                if (confirm("Bạn có chắc chắn muốn xóa hóa đơn này?")) {
                    window.location.href = "/admin/xoa_nhapkho/" + id;
                } else {
                    // Không làm gì cả
                }
            }

        </script>

        <%- include('../footer.ejs') %>