<%- include('../header.ejs') %>
    <%- include('../aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-primary mt-2 mx-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Thêm đơn bảo hành
                    </button>
                </div>
                <div class="col-md-6 mt-2 ">
                    <form action="/admin/search_danh_muc" id="combined-form" method="get" class="sidebar-form_1 mx-2">
                        <div class="input-group mb-3" style="width: 80%;">
                            <input type="text" name="name" class="form-control"
                                placeholder="Nhập đơn bảo hành bạn muốn tìm kiếm" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Thêm đơn bảo hành</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/admin/add_baohanh" class="row g-3">
                                    <div class="col-md-4">
                                        <label for="" class="form-label">Hóa đơn</label>
                                        <select name="hoa_don_bh" id="hoa_don_bh" class="form-control">
                                            <option> </option>
                                            <% if (don_mua_hang && don_mua_hang.length> 0) { %>
                                                <% don_mua_hang.forEach(function (don_mua_hang, index) { %>
                                                    <option value="<%- don_mua_hang.id %>"><%- don_mua_hang.id %>
                                                    </option>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <p>Không có dữ liệu</p>
                                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label"> Thông tin chi tiết sản phẩm </label>
                                        <select name="chi_tiet_don_mua_hang_id" id="chi_tiet_san_pham"
                                            class="form-control"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom03" class="form-label">Bảo hành</label>
                                        <select class="form-control" name="loai_bao_hanh" id="">
                                            <option value="Bảo hành"> Bảo hành </option>
                                            <option value="Sửa chữa"> Sửa chữa </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">Tiêu đề</label>
                                        <input type="text" name="tieu_de" class="form-control" id="" value="">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom03" class="form-label">Ngày bắt đầu</label>
                                        <input type="date" name="ngay_bat_dau" class="form-control"
                                            id="validationCustom03" value="">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom03" class="form-label">Ngày kết thúc</label>
                                        <input type="date" name="ngay_ket_thuc" class="form-control"
                                            id="validationCustom03" value="">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom03" class="form-label">Ghi chú</label>
                                        <textarea type="text" name="ghi_chu" class="form-control"
                                            id="validationCustom03" value=""></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom03" class="form-label">Chi phí</label>
                                        <input type="text" name="chi_phi" class="form-control" id="validationCustom03"
                                            value=""></input>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom03" class="form-label">Trạng thái</label>
                                        <div class="select-wrapper">
                                            <select class="form-control" name="trang_thai" id="">
                                                <option value="1"> Chờ xác nhận </option>
                                                <option value="2"> Đã xác nhận </option>
                                                <option value="3"> Đã bảo hành </option>
                                                <option value="4"> Đã hoàn thành </option>
                                                <option value="5"> Hủy </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Submit form</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table style="margin-top: 50px;" class="table table-PW table-hover table-borderless align-middle">
                <thead class="table-light">
                    <caption>Danh sach đơn bảo hành </caption>
                    <tr style="background-color: #e9e9e9;">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Loại bảo trì</th>
                        <th>Tiêu đề</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày hoàn thành</th>
                        <th>Chi phí</th>
                        <th>Trạng thái</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% if (data && data.length> 0) { %>
                        <% data.forEach(function (bao_hanh, index) { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= bao_hanh.ten_san_pham %>
                                </td>
                                <td>
                                    <%= bao_hanh.loai_bao_hanh %>
                                </td>
                                <td>
                                    <%= bao_hanh.tieu_de %>
                                </td>
                                <td>
                                    <% if (bao_hanh.ngay_bat_dau && bao_hanh.ngay_bat_dau !=='0000-00-00 00:00:00' ) {
                                        %>
                                        <%= new Intl.DateTimeFormat('vi-VN').format(new Date(bao_hanh.ngay_bat_dau)) %>
                                            <% } else { %>

                                                <% } %>

                                </td>
                                <td>
                                    <% if (bao_hanh.ngay_ket_thuc && bao_hanh.ngay_ket_thuc !=='0000-00-00 00:00:00' ) {
                                        %>
                                        <%= new Intl.DateTimeFormat('vi-VN').format(new Date(bao_hanh.ngay_ket_thuc)) %>
                                            <% } else { %>

                                                <% } %>

                                </td>
                                <td>
                                    <%= bao_hanh.chi_phi %>
                                </td>
                                <td>
                                    <% if (bao_hanh.trang_thai===1) { %>
                                        <button class="btn btn-outline-secondary btn-sm"> Chờ xác nhận</button>
                                        <% } else if (bao_hanh.trang_thai===2) { %>
                                            <button class="btn btn-outline-primary btn-sm">Đã xác nhận</button>
                                            <% } else if (bao_hanh.trang_thai===3) { %>
                                                <button class="btn btn-outline-warning btn-sm">Đang giao</button>
                                                <% } else if (bao_hanh.trang_thai===4) { %>
                                                    <button class="btn btn-outline-success btn-sm">Đã giao</button>
                                                    <% } %>
                                </td>
                                <td>
                                    <div class="d-flex ">
                                        <a href="/admin/edit_baohanh/<%= bao_hanh.id %>"
                                            class="btn btn-outline-success btn-sm mx-1"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="" class="btn btn-outline-danger btn-sm mx-1"><i
                                                class="fa-solid fa-trash"></i></a>
                                        <a href="/admin/chi_tiet_bao_hanh/<%= bao_hanh.id %>"
                                            class="btn btn-outline-info btn-sm mx-1"><i class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7">Không có dữ liệu</td>
                                    </tr>
                                    <% } %>

                </tbody>
            </table>
        </div>

        <script>
            document.getElementById('hoa_don_bh').addEventListener('change', function () {
                let selectedId = this.value;
                fetch(`/admin/getChiTietSanPhamByDonHang?id=${selectedId}`)
                    .then(response => response.json())
                    .then(data => {
                        let chiTietSanPhamSelect = document.getElementById('chi_tiet_san_pham');
                        chiTietSanPhamSelect.innerHTML = ''; // Clear previous options

                        if (data && data.length > 0) {
                            data.forEach(chiTietSanPham => {
                                let option = document.createElement('option');
                                option.value = chiTietSanPham.id;
                                option.innerText = chiTietSanPham.id + '_' + chiTietSanPham.TenSanPham + '_' + chiTietSanPham.MauSac + '_' + chiTietSanPham.DungLuong;
                                chiTietSanPhamSelect.appendChild(option);
                            });
                        } else {
                            let option = document.createElement('option');
                            option.innerText = 'Không có chi tiết sản phẩm';
                            chiTietSanPhamSelect.appendChild(option);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        </script>
        <!-- /.content-wrapper -->
        <%- include('../footer.ejs') %>