<%- include('../header.ejs') %>
    <%- include('../aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-primary mt-2 mx-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Thêm dung lượng
                    </button>
                </div>
                <div class="col-md-6 mt-2 ">
                    <form action="/admin/search_dung_luong" id="combined-form" method="get" class="sidebar-form_1 mx-2">
                        <div class="input-group mb-3" style="width: 80%;">
                            <input type="text" name="name" class="form-control"
                                placeholder="Nhập dung lượng bạn muốn tìm kiếm" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Thêm dung lượng</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/admin/add_dung_luong" class="row g-3 needs-validation"
                                    novalidate>
                                    <div class="col-md-6">
                                        <label for="validationCustom01" class="form-label">Tên dung lượng</label>
                                        <input type="text" name="ten_dung_luong" class="form-control"
                                            id="validationCustom01" value="" required>
                                        <div class="invalid-feedback">
                                            Hãy nhập tên dung lượng
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Submit form</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table style="margin-top: 50px;"
                class="table table-PW table-striped table-hover table-borderless align-middle">
                <thead class="table-light">
                    <caption>Danh sách dung lượng </caption>
                    <tr>
                        <th>STT</th>
                        <th>Tên dung lượng</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% if (data && data.length> 0) { %>
                        <% data.forEach(function (item, index) { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= item.ten_dung_luong %>
                                </td>
                                <td>
                                    <div class="d-flex ">
                                        <a href="" class="btn btn-outline-success btn-sm mx-1"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="/admin/delete_dung_luong/<%= item.id %>"
                                            class="btn btn-outline-danger btn-sm mx-1"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7">Không có dữ liệu</td>
                                    </tr>
                                    <% } %>

                </tbody>
            </table>
        </div>
        <!-- /.content-wrapper -->
        <%- include('../footer.ejs') %>